@charset "ISO-8859-1";
* {
	font-weight: bold;
}

#main {
	background-image: url("./cover_2.jpg");
}

.p-desc {
	height : 150px;
	overflow-y : scroll;
}

#marker1 {
	display : inline;
}

#cards {
	height : 600px;
}

#cardsFav {
	height : 600px;
}

.card {
  color: black; 
  font-weight: bold;
}